In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [14]:
#from data_compilation import Data_cleaning
from data_compilation import call_all_symbols

In [19]:
df = call_all_symbols(symbols)

The response code for SLV is 200
The response code for SIL is 200
The response code for GLD is 200
The response code for GDX is 200
The response code for DJI is 200

In [21]:
df.head()

            1. open  2. high   3. low 4. close 5. volume symbol
2019-10-07  16.3800  16.4600  16.3500  16.4000   3478363    SLV
2019-10-04  16.3000  16.4600  16.2500  16.4100  17178596    SLV
2019-10-03  16.3800  16.6500  16.3700  16.4300  24412700    SLV
2019-10-02  16.3300  16.5400  16.2700  16.4300  21300800    SLV
2019-10-01  15.9600  16.2100  15.9100  16.1500  23278100    SLV

In [3]:
#The list of all symbols
symbols = ['SLV', 'SIL', 'GLD','GDX', 'DJI']

#Defining an object
metal_object = Data_cleaning(function='TIME_SERIES_DAILY',
                  symbol = symbols,
                  outputsize='full',
                  datatype = 'json', 
                  path = '/Users/jalalkiani/.secret/Alpha_Vantage.json')

In [4]:
df_metal = metal_object.getting_cleaning_data(False)

The number of null values in SLV is 0
The number of null values in SIL is 0
The number of null values in GLD is 0
The number of null values in GDX is 0
The number of null values in DJI is 0

In [6]:
!mkdir data

In [7]:
df_metal.to_csv('data/Dirty_data.csv', index = False)

In [9]:
for i, symbol in enumerate(['SLV', 'SIL', 'GLD','GDX', 'DJI']):
    print(i, symbol)

0 SLV
1 SIL
2 GLD
3 GDX
4 DJI

In [10]:
pd.concat([df_metal, df_metal])

,Time,Open,High,Low,Close,volume,symbol,Year,Month,Day
0,2019-10-07,16.3800,16.4600,16.3698,16.3800,2421158,SLV,2019,10,7
1,2019-10-04,16.3000,16.4600,16.2500,16.4100,17178596,SLV,2019,10,4
2,2019-10-03,16.3800,16.6500,16.3700,16.4300,24412700,SLV,2019,10,3
3,2019-10-02,16.3300,16.5400,16.2700,16.4300,21300800,SLV,2019,10,2
4,2019-10-01,15.9600,16.2100,15.9100,16.1500,23278100,SLV,2019,10,1
5,2019-09-30,16.0300,16.1000,15.8300,15.9200,29218300,SLV,2019,9,30
6,2019-09-27,16.2600,16.4900,16.1900,16.3600,25234800,SLV,2019,9,27
7,2019-09-26,16.7600,16.8900,16.6300,16.6700,20319100,SLV,2019,9,26
8,2019-09-25,17.2900,17.3500,16.6700,16.7100,29406000,SLV,2019,9,25
9,2019-09-24,17.2000,17.4600,17.0700,17.4400,27612500,SLV,2019,9,24
10,2019-09-23,17.2900,17.5100,17.2600,17.5100,24136900,SLV,2019,9,23
11,2019-09-20,16.6500,16.8000,16.6100,16.8000,14256300,SLV,2019,9,20
12,2019-09-19,16.7200,16.7500,16.6100,16.6200,10522200,SLV,2019,9,19
13,2019-09-18,16.7500,16.8400,16.3800,16.5500,28967300,SLV,2019,9,18
14,2019-09-17,16.7300,16.9200,16.6600,16.8600,12763400,SLV,2019,9,17
15,2019-09-16,16.7100,16.8400,16.6000,16.7400,21190000,SLV,2019,9,16
16,2019-09-13,16.9000,16.9400,16.2800,16.3100,42317000,SLV,2019,9,13
17,2019-09-12,16.9800,17.1100,16.8500,16.9200,29348700,SLV,2019,9,12
18,2019-09-11,16.8000,16.9800,16.7900,16.9500,16979400,SLV,2019,9,11
19,2019-09-10,16.9600,17.0100,16.8500,16.8500,22611900,SLV,2019,9,10
20,2019-09-09,16.9300,17.0100,16.8000,16.8300,26030000,SLV,2019,9,9
21,2019-09-06,17.4900,17.5900,16.8000,16.8700,68358100,SLV,2019,9,6
22,2019-09-05,17.9800,17.9800,17.2900,17.4100,53305900,SLV,2019,9,5
23,2019-09-04,18.0800,18.3500,18.0500,18.3400,34319900,SLV,2019,9,4
24,2019-09-03,17.5900,17.9400,17.5200,17.8900,40436900,SLV,2019,9,3
25,2019-08-30,17.0900,17.2600,17.0000,17.1500,28392700,SLV,2019,8,30
26,2019-08-29,17.3600,17.4100,16.8800,17.0700,52495100,SLV,2019,8,29
27,2019-08-28,17.1500,17.2500,17.0100,17.1700,30866900,SLV,2019,8,28
28,2019-08-27,16.8400,17.0400,16.7700,17.0300,38834200,SLV,2019,8,27
29,2019-08-26,16.5000,16.6300,16.4500,16.5200,22948400,SLV,2019,8,26
...,...,...,...,...,...,...,...,...,...,...
4941,2000-02-14,10431.6504,10549.0000,10430.7998,10519.8398,167240000,DJI,2000,2,14
4942,2000-02-11,10638.6396,10638.6396,10356.9600,10425.2100,193540000,DJI,2000,2,11
4943,2000-02-10,10697.9199,10738.2500,10606.4004,10643.6299,156390000,DJI,2000,2,10
4944,2000-02-09,10948.8203,10948.8203,10698.8496,10699.1602,168550000,DJI,2000,2,9
4945,2000-02-08,10904.2598,11023.0596,10904.2598,10957.5996,168890000,DJI,2000,2,8
4946,2000-02-07,10965.9697,10970.9404,10846.2197,10905.7900,145660000,DJI,2000,2,7
4947,2000-02-04,11014.3701,11089.4502,10943.0195,10963.7998,166590000,DJI,2000,2,4
4948,2000-02-03,11010.4805,11079.5195,10842.2598,11013.4404,178630000,DJI,2000,2,3
4949,2000-02-02,11037.6396,11118.9297,10987.0703,11003.2002,164170000,DJI,2000,2,2
4950,2000-02-01,10937.7402,11073.3203,10907.9600,11041.0498,183110000,DJI,2000,2,1
4951,2000-01-31,10735.7695,10956.6699,10701.6396,10940.5303,191880000,DJI,2000,1,31
4952,2000-01-28,11024.9199,11024.9199,10735.7695,10738.8701,183090000,DJI,2000,1,28
4953,2000-01-27,11035.5498,11164.1396,10915.4004,11028.0195,194280000,DJI,2000,1,27
4954,2000-01-26,11025.8496,11131.0303,11002.5801,11032.9902,188840000,DJI,2000,1,26
4955,2000-01-25,11010.9600,11079.5195,10883.4502,11029.8896,209230000,DJI,2000,1,25
4956,2000-01-24,11251.9404,11366.5000,10917.2695,11008.1699,202740000,DJI,2000,1,24
4957,2000-01-21,11356.2598,11387.5996,11232.4805,11251.7100,205840000,DJI,2000,1,21
4958,2000-01-20,11490.2900,11558.7002,11274.9805,11351.2998,191230000,DJI,2000,1,20
4959,2000-01-19,11535.2402,11574.6797,11456.0098,11489.3604,193090000,DJI,2000,1,19
4960,2000-01-18,11719.1904,11720.1201,11546.4502,11560.7197,200220000,DJI,2000,1,18
4961,2000-01-14,11619.3496,11750.2803,11612.5303,11722.9805,266830000,DJI,2000,1,14
4962,2000-01-13,11558.2402,11656.5801,11524.1104,11582.4297,174910000,DJI,2000,1,13
4963,2000-01-12,11506.7305,11612.5303,11505.1797,11551.0996,194060000,DJI,2000,1,12
4964,2000-01-11,11568.4697,11663.0996,11502.7002,11511.0801,177300000,DJI,2000,1,11
4965,2000-01-10,11532.4805,11638.2803,11532.4805,11572.2002,168180000,DJI,2000,1,10
4966,2000-01-07,11247.0596,11528.1396,11239.9199,11522.5596,184900000,DJI,2000,1,7
4967,2000-01-06,11113.3701,11313.4502,11098.4502,11253.2598,176550000,DJI,2000,1,6
4968,2000-01-05,10989.3701,11215.0996,10938.6699,11122.6504,203190000,DJI,2000,1,5
4969,2000-01-04,11349.7500,11350.0596,10986.4502,10997.9297,178420000,DJI,2000,1,4
4970,2000-01-03,11501.8496,11522.0098,11305.6904,11357.5098,169750000,DJI,2000,1,3